$zero : 0%;
$full : 100%;
$defaultHover: .8 1 !default;

@mixin defalutPosition($zIndex,$num,$color){
  display: none;
  position: fixed;
  z-index: $zIndex;
  height: $num;
  background:$color;
}

@mixin defalutImg($url){
  height: 100%;
  background-repeat: no-repeat;
  background-position: center center;
  background-image: url($url); 
}

@keyframes loadRotate{
  from {
    transform: rotate(0deg);
    transform-origin:50% 50%;
  }
  to {
    transform: rotate(360deg);
  }
}

*{
  margin:$zero;
  padding:$zero; 
  list-style: none;
  font-family: "Arial","Microsoft YaHei",sans-serif;
}

img{
  border-radius:5px;
  border:thin solid #333333;
  margin:5px;
}

.js-lightBox{
  cursor: pointer;
  opacity:nth($defaultHover,1);
  &:hover{
    opacity:nth($defaultHover,2);
  }
}

.lightBox-popupMask{
  filter:alpha(opacity=50);
  width:$full;
  @include defalutPosition(9999,$full,rgba(0,0,0,.5));
}

.lightBox-popup{
  @include defalutPosition(10000,50%,white);
  top:$zero;
  left:50%;
  margin-left:-500px;
  border-radius: 10px;
  border:5px solid white;
  overflow: hidden;
  background-size: 10%;
  .loading{
    @include defalutImg('../images/icon/loading.svg');
    width: $full;
    background-size: 10%;
    position: absolute;
    z-index: -1;
    animation: loadRotate 1.5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
  }
}

.lightBox-view{
  img{
    display: block;
    display: none;
    border:$zero;
    margin:$zero !important;
  }
  .lightBox-btn{
    position: absolute;
    top:$zero;
    display: block;
    width:35%;
    text-align: center;
    cursor: pointer;
    filter:alpha(opacity=20);/* IE */ 
    opacity: .2;
    @include defalutImg('../images/icon/opacity.png');
    &:hover{
      filter:alpha(opacity=100);/* IE */ 
      opacity:nth($defaultHover,2);
    }
  }
  .lightBox-prev-btn{ 
    left:$zero; 
    &.active{
      @include defalutImg('../images/icon/prev.png');
    } 
  }
  .lightBox-next-btn{ 
    right:$zero; 
    &.active{
      @include defalutImg('../images/icon/next.png');
    } 
  }
  .lightBox-description{
    position: absolute;
    bottom:0;
    right:0;
    left:0;
    padding:15px;
    display: none;
    color:white;
    background-color: black;
    filter:alpha(opacity=80);/* IE */ 
    background: rgba(0,0,0,.8);   
    .lightBox-current-index{
      margin-top: 5px;
      display: block;
    }
    .lightBox-close{
      float: right;
      display: block;
      width:35px;
      height:35px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-image: url('../images/icon/close.png'); 
    }
  }
}
